/* MADE BY lockdownlua/nxm3 for zeroworldCSS */

.container {
background-image: url("https://images.weserv.nl/?url=https://upload.wikimedia.org/wikipedia/en/a/a3/Kanyewest_collegedropout.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-family: Verdana;
color: gray;
border: 1px solid black;
}

a {
color: #F3F3F3;
}

.about, .extended, .splashBlue, .padding {
background-color: #990000;
color: white;
border: 1px solid white;
}

.tableLeft {
background-color: #660000;
}

.tableRight {
background-color: #990000;
}

.tableLeft, .tableRight {
border: 1px solid white;
}
